.logo {
  margin: auto;
  max-width: 100px;
  width: 100%;
}

.container {
  align-items: center;
  display: flex;
  justify-content: center;
}

.tableContainer {
  margin-top: 70px;
}

.tableContents {
  text-align: center;
}

.form {
  width: 100%;
}
.resetButton {
  width: 40%;
}